{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "global-require": "off",
    "object-shorthand": "off",
    "no-mixed-operators": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "dot-notation": "off",
    "no-restricted-syntax": "off",
    "quote-props": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "valid-jsdoc": 2,
    "quotes": [2, "single"],
    "strict": [2, "never"]
  },
  "extends": "airbnb/base",
  "globals": {
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "after"      : false,
    "afterEach"  : false
  }
}
